[Desktop Entry]
Type=Application
Name=MSU Scripter
StartupWMClass=MSUScripter
Comment=UI application for creating MSUs and PCM files
Exec=%FileName%
NoDisplay=false
Terminal=false
Categories=Utility;
MimeType=
Keywords=
Icon=%IconPath%
Path=%FolderPath%
Actions=remove

[Desktop Action remove]
Name=Uninstall MSU Scripter
Exec=%UninstallPath%